{% extends "layout.html" %}
{% block title %}Reviews{% endblock %}

{% block content %}
    <div class="row"><h1>Reviews</h1></div>
    <div class="row">
        <div class="col-md-6">
            <h2>My Team's Reviews</h2>
            <a href="/reviews/person/1/review/create">Start New Review</a>
            {% for review in team_reviews %}
            <p>new review</p>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2>My Last Review</h2>
            {% if my_review is not none %}
            <ul>
                <li>Date: {{my_review.review_date}}</li>
                <li>Reviewer: {{my_review.reviewer.id}}</li>
                <li>Skills:
                    <ul>
                    {% if 'review.skills' == '[]' %}
                        {% for skill in my_review.skills %}
                        <li>{{ skill }}</li>
                        {% endfor %}
                    {% else %}
                        <li>😞 No skills were saved in this review</li>
                    {% endif %}
                    </ul>
                </li>   
            </ul>
            {% else %}
            <p>No review found</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
